*,*::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(109, 44, 44);
  color: #fabfab;
}
#big-container {
  display: flex;
}
.containers {
  border: solid gray;
  border-width: 0 2px 3px 0;
  border-radius: 0 10% 20% 5%;
}
#teams {
  margin: 20px;
}
.displayDate {
  background-color: white;
  color: rgb(109, 44, 44);
  border-radius: 5px;
}
#selected {
  background-color: #fabfabaf;
  /* background-color: rgba(250, 191, 171, .5); */
  color: black;
}
.filterMember,.filterFacility {
  background-color: lightgray;
  color: black;
  opacity: .5;
}
.filterMember::before,.filterMember::after,
.filterFacility::before,.filterFacility::after 
{
  content: 'x';
  border: solid red 2px;
  border-radius: 2px;
}
.hidden {
  display: none;
}
span {
  border: solid gray 1px;
}
.amAssigned::before,
.pmAssigned::after {
  background-color: #fabfab;
  color: black;
}
.amAssigned::before {
  content: "AM";
}
.pmAssigned::after {
  content: "PM";
}
.weeklySchedule {
  border: solid gray 2px;
}
.addedFacility {
  background-color: black;
  color: white;
}
.filter {
  background-color: green;
  color: yellow;
}
#version {
  background-color: white;
  color: black;
 border-radius: 3px;
}
.amFacilities, .pmFacilities {
  text-decoration: underline;
}
.amFacilityList,.pmFacilityList {
  font-style: italic ;
}
textarea {
  font-size: 1.5vw;
}
textarea {
  width: 140ch;
}
textarea, input {
  background-color: rgb(109,44,44);
  color: #fabfab;
  border: none;
  opacity: .6;
}
textarea:focus, textarea:hover,
input:focus, input:hover,
.members:hover, .facilities:hover{
  border-radius: 5%;
  font-size: larger;
}
.scroll {
  height: 80vh;
  overflow-y: auto;
  width: 40vw;
}