*,*::before, *::after {
  box-sizing: border-box;
}
body {
  background-color: rgb(109, 44, 44);
  color: #fabfab;
}
#big-container {
  display: flex;
}
.containers {
  border: solid gray;
  border-width: 0 2px 3px 0;
  border-radius: 0 10% 20% 5%;
}
#displayDate {
  background-color: white;
  color: rgb(109, 44, 44);
  border-radius: 5px;
}
h1 {
  font-size: 2rem;
}
#selected {
  background-color: #fabfabaf;
  /* background-color: rgba(250, 191, 171, .5); */
  color: black;
}
.filterMember,.filterFacility {
  background-color: lightgray;
  color: black;
}
.filterMember::before,.filterMember::after,
.filterFacility::before,.filterFacility::after 
{
  content: 'x';
  border: solid red 2px;
  border-radius: 2px;
}
.hidden {
  display: none;
}
span {
  border: solid gray 1px;
}
.amMemberAssigned::before,
.pmMemberAssigned::after {
  background-color: #fabfab;
  color: black;
}
.amMemberAssigned::before {
  content: "AM";
}
.pmMemberAssigned::after {
  content: "PM";
}
.weeklySchedule {
  border: solid gray 2px;
}
.addedFacility {
  background-color: black;
  color: white;
}
.filter {
  background-color: green;
  color: yellow;
}
#version {
  background-color: white;
  color: black;
  border-radius: 3px;
}